/* Custom Stylesheet */

.nav-extended {
  color: #424242 !important;
  background-color: whitesmoke !important;
}

.nav-content {
  margin-top: 30px;
}

#profile-icon {
  color: #004d40 !important;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 40px;
  font-weight: 30px;
}

#nav-icon {
  margin-top: 20px;
  margin-left: 30px;
  color: #004d40 !important;
  font-weight: bold;
  font-size: 60px;
  font-family: "Amatic SC", cursive;
}

.title {
  color: #004d40 !important;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  font-weight: bold;
  margin-left: 80px;
}

.footer-copyright,
.page-footer {
  background-color: #004d40 !important;
  color: whitesmoke;
}

#footer-body {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.tabs .tab a {
  color:#004d40 !important;
  font-weight: bolder;
  font-family: "Amatic SC", cursive;
  font-size: 29px;
}

.table-container {
  margin-left: 80px;
  margin-right: 120px;
}

.expense-category-name,
.expense-category-total,
.expense-total,
.expense-total-amount {
  font-weight: bold;
  font-size: 16px;
  color:whitesmoke !important;
  background-color: #004d40 !important;
}

.spending-header {
  font-size: 20px;
  color: #b2dfdb !important;
}

.category-amount,
.category-description {

  align-content: center;
  background-color: #004d40 !important;
}

.create-expense-button,
.edit-expense-button {
  margin-left: 20px;
  background-color: #004d40;
}

.waves-effect .waves-light btn {
  margin-left: 30px;
  background-color: #004d40;
}

.bold {
  font-weight: bold;
}

.btn{
  background-color: #004d40;
}

.goal{
  background-color: #004d40;
}

.bg-primary {
  background-color: #004d40;
}
.text-white {
  background-color: #004d40;
}
.category-2{
  background-color: #004d40;
}
/* i {
  margin-top: 0.25em;
  border: 1px solid red;
}

i:hover {
  cursor: pointer;
} */

#margin-profile {
  margin-bottom: 20px;
}
