html, body { 
  height: 100%; 
  overflow: hidden;
}

#nav-icon {
  margin: 0 auto;
  color: #004d40 !important;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}
#motto {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.body-container {
  background: url(../assets/background.jpg) no-repeat 100% 100%;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container{
    margin: auto;
    text-align: center;
}

.form-container{
    margin: auto;
    padding:20px;
    max-width: 500px;
}

.footer-copyright,
.page-footer {
  background-color: #004d40 !important;
  color: whitesmoke;
}

#footer-body {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.btn{
    background-color: #004d40;
}
