body { 
  background: url(../assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#name {
  margin: 0 auto;
  color: white !important;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#motto {
  text-align: center;
  color: white;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

.logo-container{
    margin: auto;
    text-align: center;
}

.form-container{
    margin: auto;
    padding: 0px 20px 20px 20px;
    max-width: 500px;

}

.form-group{
  margin-bottom: 5px;
}

.btn{
  margin: 8px 0px 8px 0px;
  color: whitesmoke;
  background-color: #004d40;
  border-color: #004d40;
}

.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #008f77;
  border-color: #008f77;
}

.footer-copyright,
.page-footer {
  background-color: #004d40 !important;
  color: whitesmoke;
}

#footer-body {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}